
* {
   box-sizing:border-box;
}

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: #fff1e3;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.container {
    background-color: #372549;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    overscroll-behavior-x: none;
}

.container li a {
    padding: 5px;
    margin: auto;
    color: white;
    text-decoration: none;
}

#main {
    /* border: red solid 1px; */
    width: 100%;
    height: auto;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

main p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #682a7a;
}

h2 {
    text-align: center;
    color: #e98789;
    font-size: 100%;
}

#painel {
    /* border: blue solid 1px; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.button {
    background-color: #372549;
    border: none;
    border-radius: 6px;
    color: white;
    height: auto;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: auto;
  }

  .input {
    background-color: #B75D69; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    height: auto;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: auto;
  }

  #plotDiv {
      width: auto;
      height: auto;
      border: none;
      align-self: center;
      display: block;
      align-content: center;
      padding: 5px;
      margin: 20px auto;

  }

  #plotDiv h2 {
      text-align: center;
      margin: 0 auto;

  }


  #refs {
      text-align: left;
  }

